.App {
  width: 100%;
}

.navbar {
  background-color: #d1345b;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
  box-shadow: 0 3px 5px #666;
  height: 50px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.3rem;
  transition: all linear 0.5s;
  color: #070707;
}

.navbar a.active {
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 1px 1px 2px #3454d1;
}

.home {
  background-image:
    linear-gradient(45deg, rgba(52, 209, 191, 0.2), white, rgba(0, 0, 0, 0.2)),
    url("../public/images/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 70px);
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}

.heading {
  font-size: 2.8rem;
  color: #d1345b;
  margin-inline: 20px;
  margin-bottom: 20px;
}

.home p {
  max-width: 500px;
  font-size: 1rem;
  line-height: 110%;
  margin-bottom: 10px;
  margin-inline: 20px;
}

.go-to-services {
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 1px 2px 3px #d1345b;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.05s;
}

.go-to-services:hover {
  margin-top: 20px;
  background-color: rgb(52, 209, 191);
}

@media only screen and (min-width: 768px) {
  .heading {
    font-size: 4.5rem;
  }

  .home p {
    font-size: 1.3rem;
    line-height: 130%;
    max-width: none;
  }
}
